<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
</head>
<body>
    <div class="container">
        <h1>login</h1> 

        <form action="/login" method="POST"> 
            <input type="text" name="username"
                placeholder="username"> 
            <input type="password" name="password"
                placeholder="password"> 
            <button>login</button> 
        </form> 
        <h1>This is home page</h1> 

        <div>Not yet registered ?<a href="/users/register">Sign up!!</a></div>
    </div>
</body>
</html>